////// font, background //////
@each $color, $value in $colors {
  .fc-#{$color}{
    color: #{$value} !important;
  }
  .bg-#{$color}{
    background-color: #{$value} !important;
  }
  .bg-#{$color}-d{
    background-color: #{$value};
  }
}


/**
* icon color change
*/

// grey
.ic-color-f9fafb{filter: invert(90%) sepia(0%) saturate(737%) hue-rotate(179deg) brightness(110%) contrast(97%) !important;}
.ic-color-F1F4F7{filter: invert(90%) sepia(6%) saturate(109%) hue-rotate(175deg) brightness(108%) contrast(94%) !important;}
.ic-color-f2f2f2{filter: invert(99%) sepia(6%) saturate(329%) hue-rotate(299deg) brightness(116%) contrast(90%) !important;}
.ic-color-e5e5e7{filter: invert(91%) sepia(97%) saturate(54%) hue-rotate(180deg) brightness(96%) contrast(90%) !important;}
.ic-color-d2d2d6{filter: invert(85%) sepia(10%) saturate(63%) hue-rotate(201deg) brightness(105%) contrast(78%) !important;}
.ic-color-b8bac0{filter: invert(91%) sepia(7%) saturate(191%) hue-rotate(187deg) brightness(84%) contrast(84%) !important;}
.ic-color-9a9ba5{filter: invert(70%) sepia(5%) saturate(450%) hue-rotate(197deg) brightness(88%) contrast(88%) !important;}
.ic-color-7c7e8a{filter: invert(52%) sepia(7%) saturate(504%) hue-rotate(194deg) brightness(93%) contrast(92%) !important}
.ic-color-5f6271{filter: invert(38%) sepia(17%) saturate(348%) hue-rotate(192deg) brightness(94%) contrast(89%) !important;}
.ic-color-3e4354{filter: invert(22%) sepia(5%) saturate(2343%) hue-rotate(189deg) brightness(101%) contrast(87%) !important;}
.ic-color-10182b{filter: invert(6%) sepia(40%) saturate(1997%) hue-rotate(199deg) brightness(102%) contrast(94%) !important;}
.ic-color-000000{filter: invert(0%) sepia(2%) saturate(7%) hue-rotate(329deg) brightness(102%) contrast(101%) !important;}
.ic-color-ffffff{filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(190deg) brightness(102%) contrast(101%) !important;}
.ic-color-737b8e{filter: invert(50%) sepia(26%) saturate(267%) hue-rotate(184deg) brightness(91%) contrast(85%);}

// blue
.ic-color-f2f7fe{filter: invert(97%) sepia(0%) saturate(6750%) hue-rotate(178deg) brightness(96%) contrast(107%) !important;}
.ic-color-a6e0ff{filter: invert(91%) sepia(18%) saturate(6900%) hue-rotate(180deg) brightness(112%) contrast(101%) !important;}
.ic-color-00cbff{filter: invert(67%) sepia(40%) saturate(4056%) hue-rotate(151deg) brightness(100%) contrast(104%) !important;}
.ic-color-00aad2{filter: invert(67%) sepia(42%) saturate(7420%) hue-rotate(156deg) brightness(94%) contrast(101%) !important;}
.ic-color-457ff3{filter: invert(43%) sepia(81%) saturate(2172%) hue-rotate(204deg) brightness(96%) contrast(98%) !important;}

// dark blue
.ic-color-b7c2d2{filter: invert(93%) sepia(5%) saturate(1980%) hue-rotate(183deg) brightness(88%) contrast(86%) !important;}
.ic-color-45506B{filter: invert(28%) sepia(39%) saturate(401%) hue-rotate(183deg) brightness(94%) contrast(87%) !important;}
.ic-color-1c6bba{filter: invert(30%) sepia(77%) saturate(1109%) hue-rotate(183deg) brightness(99%) contrast(92%) !important;}
.ic-color-09348b{filter: invert(12%) sepia(55%) saturate(4149%) hue-rotate(217deg) brightness(102%) contrast(99%) !important;}
.ic-color-6d7da6{filter: invert(50%) sepia(36%) saturate(385%) hue-rotate(185deg) brightness(91%) contrast(90%) !important;}

// yellow
.ic-color-fffae2{filter: invert(99%) sepia(79%) saturate(350%) hue-rotate(18deg) brightness(107%) contrast(104%) !important;}
.ic-color-ffe58e{filter: invert(98%) sepia(43%) saturate(1176%) hue-rotate(322deg) brightness(96%) contrast(108%) !important;}
.ic-color-fff600{filter: invert(81%) sepia(65%) saturate(693%) hue-rotate(1deg) brightness(108%) contrast(104%) !important;}

//pink
.ic-color-fff0f7{filter: invert(84%) sepia(19%) saturate(113%) hue-rotate(290deg) brightness(109%) contrast(102%) !important;}
.ic-color-fed5e1{filter: invert(84%) sepia(19%) saturate(323%) hue-rotate(297deg) brightness(99%) contrast(104%) !important;}
.ic-color-ff8f8f{filter: invert(92%) sepia(20%) saturate(6621%) hue-rotate(302deg) brightness(101%) contrast(100%) !important;}
.ic-color-f34c8f{filter: invert(39%) sepia(62%) saturate(1633%) hue-rotate(309deg) brightness(100%) contrast(92%) !important;}
.ic-color-ff0900{filter: invert(18%) sepia(95%) saturate(6500%) hue-rotate(360deg) brightness(97%) contrast(110%) !important;}

// purple
.ic-color-d7bdff{filter: invert(82%) sepia(33%) saturate(1249%) hue-rotate(194deg) brightness(99%) contrast(109%) !important;}
.ic-color-b1adff{filter: invert(83%) sepia(33%) saturate(6769%) hue-rotate(202deg) brightness(109%) contrast(102%) !important;}
.ic-color-9c91ff{filter: invert(60%) sepia(6%) saturate(4029%) hue-rotate(205deg) brightness(99%) contrast(111%) !important;}
.ic-color-a03beb{filter: invert(28%) sepia(36%) saturate(5164%) hue-rotate(262deg) brightness(95%) contrast(94%) !important;}
.ic-color-9e00ff{filter: invert(13%) sepia(99%) saturate(5464%) hue-rotate(277deg) brightness(97%) contrast(123%) !important;}

// Yellow Green
.ic-color-8ec7d2{filter: invert(87%) sepia(98%) saturate(6392%) hue-rotate(165deg) brightness(90%) contrast(81%) !important;}
.ic-color-64edd2{filter: invert(88%) sepia(15%) saturate(1410%) hue-rotate(103deg) brightness(101%) contrast(86%) !important;}
.ic-color-43e2ba{filter: invert(100%) sepia(27%) saturate(5144%) hue-rotate(83deg) brightness(98%) contrast(81%) !important;}
.ic-color-a6ffc6{filter: invert(92%) sepia(22%) saturate(636%) hue-rotate(70deg) brightness(99%) contrast(107%) !important;}

// Green
.ic-color-bde986{filter: invert(89%) sepia(30%) saturate(538%) hue-rotate(31deg) brightness(95%) contrast(94%) !important;}
.ic-color-00ba34{filter: invert(69%) sepia(62%) saturate(5814%) hue-rotate(101deg) brightness(94%) contrast(101%) !important;}
.ic-color-dcfab1{filter: invert(83%) sepia(26%) saturate(346%) hue-rotate(43deg) brightness(105%) contrast(104%) !important;}


// orange
.ic-color-ff8f00{filter: invert(51%) sepia(86%) saturate(1554%) hue-rotate(2deg) brightness(105%) contrast(104%) !important;}

//// mapping
// grey
$ic-color-f9fafb: invert(90%) sepia(0%) saturate(737%) hue-rotate(179deg) brightness(110%) contrast(97%);
$ic-color-F1F4F7: invert(90%) sepia(6%) saturate(109%) hue-rotate(175deg) brightness(108%) contrast(94%);
$ic-color-f2f2f2: invert(99%) sepia(6%) saturate(329%) hue-rotate(299deg) brightness(116%) contrast(90%);
$ic-color-e5e5e7: invert(91%) sepia(97%) saturate(54%) hue-rotate(180deg) brightness(96%) contrast(90%);
$ic-color-d2d2d6: invert(89%) sepia(4%) saturate(145%) hue-rotate(201deg) brightness(100%) contrast(82%);
$ic-color-b8bac0: invert(83%) sepia(6%) saturate(212%) hue-rotate(187deg) brightness(89%) contrast(90%);
$ic-color-9a9ba5: invert(70%) sepia(5%) saturate(450%) hue-rotate(197deg) brightness(88%) contrast(88%);
$ic-color-7c7e8a: invert(52%) sepia(7%) saturate(504%) hue-rotate(194deg) brightness(93%) contrast(92%);
$ic-color-5f6271: invert(38%) sepia(17%) saturate(348%) hue-rotate(192deg) brightness(94%) contrast(89%);
$ic-color-3e4354: invert(22%) sepia(5%) saturate(2343%) hue-rotate(189deg) brightness(101%) contrast(87%);
$ic-color-10182b: invert(5%) sepia(57%) saturate(1872%) hue-rotate(204deg) brightness(94%) contrast(92%);
$ic-color-000000: invert(0%) sepia(2%) saturate(7%) hue-rotate(329deg) brightness(102%) contrast(101%);
$ic-color-ffffff: invert(96%) sepia(100%) saturate(0%) hue-rotate(190deg) brightness(102%) contrast(101%);
$ic-color-737b8e: invert(50%) sepia(26%) saturate(267%) hue-rotate(184deg) brightness(91%) contrast(85%);

// blue
$ic-color-f2f7fe: invert(97%) sepia(0%) saturate(6750%) hue-rotate(178deg) brightness(96%) contrast(107%);
$ic-color-a6e0ff: invert(91%) sepia(18%) saturate(6900%) hue-rotate(180deg) brightness(112%) contrast(101%);
$ic-color-00cbff: invert(67%) sepia(40%) saturate(4056%) hue-rotate(151deg) brightness(100%) contrast(104%);
$ic-color-00aad2: invert(67%) sepia(42%) saturate(7420%) hue-rotate(156deg) brightness(94%) contrast(101%);
$ic-color-457ff3: invert(43%) sepia(81%) saturate(2172%) hue-rotate(204deg) brightness(96%) contrast(98%);
$ic-color-ccffff: invert(94%) sepia(63%) saturate(2965%) hue-rotate(169deg) brightness(117%) contrast(101%);

// dark blue
$ic-color-b7c2d2: invert(87%) sepia(13%) saturate(284%) hue-rotate(176deg) brightness(87%) contrast(94%);
$ic-color-45506B: invert(28%) sepia(39%) saturate(401%) hue-rotate(183deg) brightness(94%) contrast(87%);
$ic-color-1c6bba: invert(30%) sepia(77%) saturate(1109%) hue-rotate(183deg) brightness(99%) contrast(92%);
$ic-color-09348b: invert(12%) sepia(55%) saturate(4149%) hue-rotate(217deg) brightness(102%) contrast(99%);
$ic-color-6d7da6: invert(50%) sepia(36%) saturate(385%) hue-rotate(185deg) brightness(91%) contrast(90%);

// yellow
$ic-color-fffae2: invert(99%) sepia(79%) saturate(350%) hue-rotate(18deg) brightness(107%) contrast(104%);
$ic-color-ffe58e: invert(98%) sepia(43%) saturate(1176%) hue-rotate(322deg) brightness(96%) contrast(108%);
$ic-color-ffce00: invert(88%) sepia(14%) saturate(6559%) hue-rotate(357deg) brightness(100%) contrast(104%);
$ic-color-fffcd0: invert(98%) sepia(3%) saturate(3238%) hue-rotate(324deg) brightness(95%) contrast(128%);
$ic-color-fff600: invert(81%) sepia(65%) saturate(693%) hue-rotate(1deg) brightness(108%) contrast(104%);;

//pink
$ic-color-fff0f7: invert(84%) sepia(19%) saturate(113%) hue-rotate(290deg) brightness(109%) contrast(102%);
$ic-color-fed5e1: invert(84%) sepia(19%) saturate(323%) hue-rotate(297deg) brightness(99%) contrast(104%);
$ic-color-ff8f8f: invert(92%) sepia(20%) saturate(6621%) hue-rotate(302deg) brightness(101%) contrast(100%);
$ic-color-f34c8f: invert(39%) sepia(62%) saturate(1633%) hue-rotate(309deg) brightness(100%) contrast(92%);
$ic-color-ff0900: invert(18%) sepia(95%) saturate(6500%) hue-rotate(360deg) brightness(97%) contrast(110%);

// purple
$ic-color-d7bdff: invert(82%) sepia(33%) saturate(1249%) hue-rotate(194deg) brightness(99%) contrast(109%);
$ic-color-b1adff: invert(83%) sepia(33%) saturate(6769%) hue-rotate(202deg) brightness(109%) contrast(102%);
$ic-color-9c91ff: invert(60%) sepia(6%) saturate(4029%) hue-rotate(205deg) brightness(99%) contrast(111%);
$ic-color-9e00ff: invert(13%) sepia(99%) saturate(5464%) hue-rotate(277deg) brightness(97%) contrast(123%);

// Yellow Green
$ic-color-8ec7d2: invert(87%) sepia(98%) saturate(6392%) hue-rotate(165deg) brightness(90%) contrast(81%);
$ic-color-64edd2: invert(88%) sepia(15%) saturate(1410%) hue-rotate(103deg) brightness(101%) contrast(86%);
$ic-color-43e2ba: invert(100%) sepia(27%) saturate(5144%) hue-rotate(83deg) brightness(98%) contrast(81%);
$ic-color-a6ffc6: invert(92%) sepia(22%) saturate(636%) hue-rotate(70deg) brightness(99%) contrast(107%);

// Green
$ic-color-bde986: invert(89%) sepia(30%) saturate(538%) hue-rotate(31deg) brightness(95%) contrast(94%);
$ic-color-00ba34: invert(69%) sepia(62%) saturate(5814%) hue-rotate(101deg) brightness(94%) contrast(101%);
$ic-color-dcfab1: invert(83%) sepia(26%) saturate(346%) hue-rotate(43deg) brightness(105%) contrast(104%);

// orange
$ic-color-ff8f00: invert(51%) sepia(86%) saturate(1554%) hue-rotate(2deg) brightness(105%) contrast(104%);

// gradient
$bg-gradient-active: linear-gradient(45deg, rgba(78,140,241,1) 0%, rgba(90,126,255,1) 100%);
.bg-gradient-range{ background: linear-gradient(270deg, #457ff3 0%, #9c91ff 100%);}

// bg-active
.bg-ccffcc-03 { background-color: rgba(204,255,204,0.3);}

// POS gradient
.pos-gradient-01 {
  background-image: linear-gradient(to bottom, #ff87bf, #f54497); border-color: #f54497;
  &:hover, &.active { background-image: linear-gradient(to bottom, #ff5397, #ed1d66); border: solid 1px #ed1d66;}
}
.pos-gradient-02 {
  background-image: linear-gradient(to bottom, #ffffff, #d1d1d1); border-color: #45506b;
  &:hover, &.active { background-image: linear-gradient(to bottom, #fbfbfb, #b6b6b6); border: solid 1px #1d243a;}
}
.pos-gradient-02-1 {
  background-image: linear-gradient(to bottom, #ffffff, #cbdcff); border: 2px solid $color-457ff3;
  &:hover, &.active { background-image: linear-gradient(to bottom, #fbfdff, #b1c8ff); border: solid 2px #2252ea; color: #2252ea;}
}
.pos-gradient-03 {
  background-image: linear-gradient(to bottom, #39def9, #10bcd8); border-color: #10bcd8;
  &:hover, &.active { background-image: linear-gradient(to bottom, #1ac8f3, #069bc2); border: solid 1px #0699c1;}
}
.pos-gradient-04 {
  background-image: linear-gradient(to bottom, #457ff3, #1759de); border-color: #1759de;
  &:hover, &.active { background-image: linear-gradient(to bottom, #2152ea, #0931cb); border: solid 1px #0931cb;}
}
.pos-gradient-05 {
  background-image: linear-gradient(to bottom, #45506b, #32394a); border-color: #32394a;
  &:hover, &.active { background-image: linear-gradient(to bottom, #2d354d, #202532); border: solid 1px #1f2431;}
}
.pos-gradient-06 { background-image: linear-gradient(to bottom, #ffffff, #d4dce6); border-color: #1d3557;}
.pos-gradient-07 {
  background-image: linear-gradient(to bottom, #68bf0f, #539e07); border-color: #539e07;
  &:hover, &.active { background-image: linear-gradient(to bottom, #3d9d06, #2d7503); border: solid 1px #2c7403;}
}
.pos-gradient-08 {
  border-color: #b8bac0; background-color: #e5e5e7; color: #949494;
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  &.active { background-image: linear-gradient(to bottom, #3e4354, #10182b); border-color: #3e4354; color: $color-ffffff; box-shadow: none !important;}
}
.pos-gradient-11 {
  border-color: #5d5d5d; background-image: linear-gradient(180deg, #8F8F90 0%, #6E7378 50%);
  &:hover, &.active { background-image: linear-gradient(180deg, #716e6e 0%, #5A5E62 50%);}
}

//.pos-gradient-09 {
//  background-image: linear-gradient(to bottom, #6af0ff, #00bcec);
//  border-color: #009dc5; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
//  &.active { border-width: 4px !important; border-color: #146cb9;}
//  &.touch { border-style: dashed !important; border-width: 3px !important; border-color: #236e87;}
//}
//.pos-gradient-10 {
//  background-image: linear-gradient(to bottom, #ffd448, #ffa026);
//  border-color: #ffa026; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
//  &.active { border-width: 4px !important; border-color: #ef6721;}
//  &.touch { border-style: dashed !important; border-width: 3px !important; border-color: #cb7306;}
//}

.pos-gradient-09 {
  position:relative; background-image: linear-gradient(to bottom, #6af0ff, #00bcec);
  border-color: #009dc5; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.pos-gradient-10 {
  position:relative; background-image: linear-gradient(to bottom, #ffd448, #ffa026);
  border-color: #ffa026; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
.pos-gradient-serving {
  position:relative; background-image: linear-gradient(to bottom, #ffebf1, #ffebf1);
  border-color: #ffebf1; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.pos-gradient-12 {
  border-color: #5d5d5d;
  background-image: linear-gradient(180deg, #A4A4DD 0%, #7676B4 50%);
  &:hover, &.active { background-image: linear-gradient(180deg, #8787c0 0%, #52528a 50%);}
}

.pos-gradient-01, .pos-gradient-03, .pos-gradient-04, .pos-gradient-05, .pos-gradient-07, .pos-gradient-11, .pos-gradient-12{
  color: $color-ffffff;
  [class^="ico-"] { filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(190deg) brightness(102%) contrast(101%) !important;}
}
.pos-gradient-02, .pos-gradient-09, .pos-gradient-10 {
  color: $color-10182b;
  [class^="ico-"]{ filter: invert(6%) sepia(71%) saturate(1334%) hue-rotate(201deg) brightness(88%) contrast(93%) !important;}
}
.pos-gradient-06 {
  color: $color-1d3557;
  [class^="ico-"]{ filter: invert(15%) sepia(61%) saturate(712%) hue-rotate(177deg) brightness(97%) contrast(90%) !important;}
}
.pos-gradient-02-1 {
  color: $color-457ff3;
  [class^="ico-"]{ filter: invert(43%) sepia(81%) saturate(2172%) hue-rotate(204deg) brightness(96%) contrast(98%) !important;}
}
/// POS-Color
.pos-color-00 {
  background-color: $color-ffffff; border-color: $color-7c7e8a; color: $color-10182b;
  &.focus, &.disabled, &.accom_active { background-image: none; }
  &.focus { background-color: $color-dcf7ff;}
  &.accom_active { background-color: $color-73809d; color: $color-ffffff;}
  &.disabled { background-color: $color-9a9ba5; color: $color-5f6271;}
}

.pos-color-01 { background-color: #f6f9fe; border-color: $color-457ff3; color: $color-457ff3;}
.pos-color-02, .pos-color-02-1, .pos-color-02-2 { background-color: $color-f9fafb; color: $color-10182b;}
.pos-color-02-1 { border-color: $color-9a9ba5; color: $color-3e4354;}
.pos-color-02-2 { border-color: $color-1d3557; color: $color-1d3557;}
.pos-color-03 {
  background-color: $color-afafaf; border-color: $color-9a9ba5; color: $color-ffffff; box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  &.active { box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3); border-color: #db7b00; background-image: linear-gradient(to bottom, #ffc529, #f66300);}
}
.pos-color-04 {
  background-color: #e0e7f1; border-color: #7c7e8a; color: $color-10182b;
  &.active { box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3); border-color: #ff0000; background-image: linear-gradient(to bottom, #ffa685, #f00); color: $color-ffffff;}
  &.empty { background-color: #ffffff; border-color: #5d5d5d; color: $color-ffffff; opacity: 0.4;}
}
.pos-color-05 {
  background-color: $color-e5e5e7; border-color: $color-b8bac0; box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.3); color: #949494;
  &.active { border-color: #3e4354; background-image: linear-gradient(to bottom, #3e4354, #10182b); color: $color-ffffff;}
}
.pos-color-06 { background-color: $color-f1f4f7; border-color: #9a9ba5; color: $color-10182b; }
.pos-color-07 {
  background-color: $color-f9fafb; border-color: #45506b; color: $color-10182b;
  &.focus { background-color: #2149a6; color: $color-ffffff;}
}

.pos-wrap, .pos-popup, .pos-alert {
  .pos-color-03, .pos-color-04 {
    &.active { border-width: 2px;}
  }
}
