/// Noto Sans

@font-face {
  font-family: 'Noto Sans';
  font-weight: 100;
  src: local('Noto Sans Thin'),
  url('../fonts/NotoSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  src: local('Noto Sans Light'),
  url('../fonts/NotoSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  src: local('Noto Sans Regular'),
  url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 500;
  src: local('Noto Sans Medium'),
  url('../fonts/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 600;
  src: local('Noto Sans Bold'),
  url('../fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  src: local('Noto Sans Black'),
  url('../fonts/NotoSans-Black.ttf') format('truetype');
}

/// Noto Sans KR

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: local('Noto Sans KR Thin'),
  url('../fonts/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: local('Noto Sans KR Light'),
  url('../fonts/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: local('Noto Sans KR Regular'),
  url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: local('Noto Sans KR Medium'),
  url('../fonts/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  src: local('Noto Sans KR Bold'),
  url('../fonts/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: local('Noto Sans KR Black'),
  url('../fonts/NotoSansKR-Black.otf') format('opentype');
}

/// Pretendard

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  src: local('Pretendard Thin'),
  url('../fonts/Pretendard-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  src: local('Pretendard ExtraLight'),
  url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: local('Pretendard Light'),
  url('../fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: local('Pretendard Regular'),
  url('../fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: local('Pretendard Medium'),
  url('../fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: local('Pretendard SemiBold'),
  url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: local('Pretendard Bold'),
  url('../fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: local('Pretendard ExtraBold'),
  url('../fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  src: local('Pretendard Black'),
  url('../fonts/Pretendard-Black.woff2') format('woff2');
}

/// Inter

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: local('Inter Thin'),
  url('../fonts/Inter-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: local('Inter ExtraLight'),
  url('../fonts/Inter-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('Inter Light'),
  url('../fonts/Inter-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter Regular'),
  url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter Medium'),
  url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('Inter SemiBold'),
  url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: local('Inter Bold'),
  url('../fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: local('Inter ExtraBold'),
  url('../fonts/Inter-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: local('Inter Black'),
  url('../fonts/Inter-Black.woff2') format('woff2');
}
